extends layout

block content
  div(class="row")
    div(class="col")
      p the game info will go here
  div(class="row")
    div(class="col")
      form(id="backro-form" action="")
        input(id="backro" autocomplete="off" style="width: 90%;")
        button(style="width: 10%;") Submit
  div(class="row" style="height: 30rem;")
    div(class="col-9 h-100")
      div(id="chat-div" class="row overflow-auto" style="height: 90%; padding-left: 15px; padding-right: 15px;")
        ul(id="chat-messages" class="px-0" style="list-style-type: none;")
      div(class="row" style="height: 10%; padding-left: 15px; padding-right: 15px;")
        form(id="chat" action="")
          input(id="m" autocomplete="off")
          button Send
    div(class="col-3")
      p players here
