div(class="modal fade" id="nicknameModal" tabindex="-1" role="dialog")
  div(class="modal-dialog modal-dialog-centered" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title") Please enter a nickname.
      div(class="modal-body")
        form(class="form-inline" action="")
          input(type="text" id="nickname")
          button(type="button" class="btn btn-primary") Join
